Olá, <%= @user.name %>!
<p>Alguém solicitou uma redefinição de senha para sua conta. Se foi você, clique no link abaixo. O link irá expirar em 15 minutos.</p>
<%= link_to "Redefinir minha senha", edit_password_url(token: @token) %>
<p>Se você não solicitou isso, pode ignorar este e-mail.</p>