<div id="<%= dom_id event %>" class="w-full sm:w-auto my-5 space-y-5">
  <%# app/views/events/_event.html.erb %>
<div>
  <strong class="block font-medium mb-1">Data:</strong>
  <%= event.event_at&.strftime("%d/%m/%Y %H:%M") || content_tag(:span, "Data não informada", class: "text-gray-500") %>
  <%# Se preferir não mostrar nada quando for nil: %>
  <%# <%= event.event_at&.strftime("%d/%m/%Y %H:%M") %>
</div>

  
  <div>
    <strong class="block font-medium mb-1">Criado por:</strong>
    <%= event.user.name %>
  </div>
</div>