<div id="<%= dom_id event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Event at:</strong>
    <%= event.event_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= event.user_id %>
  </div>
</div>
